notebooks/*
# scripts/*
Figure/*
dataset/*
dataset_new/*
data/*
checkpoints/*
results/*
results_new/*
Uncertainty_Results/*
Uncertainty_Results_new/*
Uncertainty_Results_old/*
Uncertainty_logging/*
Uncertainty_logging_old/*